.banner{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width:1300px ;
    height:600px ;
    text-align: center;
    background-position:justify;
    margin: 120px;
    /* border-radius: 16px; */
    /* align-content: center;  */
}
.title-1{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 30px;
font-weight: 400;
padding:20px 250px 150px;
padding-top:170px;
padding-bottom:0px;
}
.title-2{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
/* line-height: 95px; */
width: 632px;
padding: 5px 350px 100px;
padding-top:0px ;
padding-left: 350px;
}
.OFF{
     background-image: url('../resources/New\ Year\ Photo.png');
     background-repeat: no-repeat; 
    width: 900px;
    height: 600px;
    padding-right: 150px;
    /* padding-top: 5px; */
   align-items: center;
    background-color: #7e1313;
    padding-left: 200px;
    background-position: center;
    margin:0px 160px 200px;
    

    /* margin-top: 100px; */
}


.color{
 color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size:90px;
font-weight:700px;
padding-top:0px;
height:40px;
}
.holiday{ 
padding-top:0px ;
/* height: 300px; */
color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
height:0px;
/* padding-top: 0px; */

}
.all{
    
    color: #070211;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;
/* padding:20px 100px */
margin-top: 0px;
}
.hi{
    /* background-image: url('../resources/New\ Year\ Photo.png'); */
    /* background-repeat: no-repeat; */
    width: 800px;
    height: 500px;
    margin-left: 220px;
}
.raisa{
    background: #ffffff;
    width: 1200px;
height: 750px;
margin-left: 120px;
border: 0px solid white;
padding-bottom: 50px;
}
.party{
    color: #ffffff;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
line-height: 88px;
width: 600px;
height: 170px;
margin-left: 90px;
margin-top:120px;

}
.description{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width:700px ;
    height:70px;
    margin-left: 90px;
   
}
.btn{
     color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
/* text-transform: uppercase; */
background-color: rgb(0, 0, 0);
margin-left: 90px;
}
.container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left:150px;
   width:1300px;
   height:600px; 
   display: flex;
}
.text{
    text-align: inherit;
    padding-top: 30px;
}
#grad{
    background:radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%)
    background-blend-mode: multiply;
      mix-blend-mode: multiply;

}
.row{
font-size: 32px;
font-weight: 600;
/* line-height: 56px; */
text-transform: capitalize;
/* border: 5px; */
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin:130px;
width: 1100px;
height: 350px;
text-align: center;
padding: 130px;
}
.btn2{
    height: 50px;
    width: 150px;
    border-radius: 8px;
 background: #F00;
 border: 0px;
 color: #FFF;
 padding: 10px 20px;
 font-size: 20px;
}
.offer{
    display: flex;
    justify-content: space-between;
}
.para{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
width: 400px;
height: 130px;

}
.para2{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
width: 280px;
height: 90px;
}
#come{
 color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
/* padding: 40px 60px; */
width: 350px;
height: 60px;

}
#year{
color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
width:130px ;
height:60px ;

}
#new{
    font-size: 24px;
    font-weight: 500px;
}
.column1{
    margin-left:50px;
    padding-top:90px;
}
.column3{
    margin-right:80px;
    padding-top:90px;
}
.column2{
width: 385px;
 height: 385px;
background: #ffffff;
border-radius:50%;
border: 15px solid #F00;
padding:40px;



}
#img{
    width:140px;
height:140px;

}
.gift{
    color: #F00;
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: normal;
}
.Awesome{
color: #070211;
font-family: Merriweather;
font-size:30px;
font-weight:900px;
text-transform: capitalize;
width: 565px;
height: 60px;
}
.para3{
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
width: 900px;
height: 65px;
}
.portfolio{
    margin: 120px;
    
}
.hover{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* width:100%; */
    /* height: 300px; */
    gap: 10px;
    margin: 100px;
    hover
}
.news{
    border-radius: 16px;
background: rgba(254, 220, 220, 0.924);
width:1000px;
height:350px;
/* margin: 120px; */
text-align: center;
margin:100px;
padding: 100px;
padding-top: 20px;

}
#news-pic{
    width: 100px;
    height: 100px;
}
.subscribe{
    color: #070211;
/* text-align: center; */
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.para4{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}
form{
    position: relative;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
}
input[type="text"]
{
    background: #FFF;
    width: 400px;
height: 60px;
border: none;
padding: 0 25px;
font-size: 20px;
/* border-radius: 25px; */
}
input[type="submit"]
{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width:200px ;
    height: 60px;
    border: none;
    background: #F00;
    font-size: 25px;
    color: #FFF;
}
input[type="submit"]:hover
{
    background: #690B02;
}